<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       data-background="assets/Tools/img/hero/services_hero.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2><span style="color: #F7921C">EMD<span style="color: #6D2671">4</span>IT</span> Services</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Software Development services Area Start-->
<div id="software-development" class="services-area section-padding2">
  <div class="container">
    <!-- section tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h2>Software Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist"></span>
          </div>
          <div class="services-caption">
            <h4>Web Applications</h4>
            <p>Developing an attractive and user friendly website will ensure customer engagement.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-audit"></span>
          </div>
          <div class="services-caption">
            <h4>Mobile Applications</h4>
            <p> Our team will develop the best IOS and Android apps to help you reach
              your desired target and engage with them.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist-1"></span>
          </div>
          <div class="services-caption">
            <h4>Websites</h4>
            <p>Make Creative Responsive Websites To Your Business Needs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Software Development services Area End-->

<!-- Advertising services Area Start-->
<div id="advertising" class="services-area section-padding2">
  <div class="container">
    <!-- section tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h2>Advertising Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist"></span>
          </div>
          <div class="services-caption">
            <h4>Programmatic Advertising</h4>
            <p>Build brand awareness by using Programmatic Display, Video, Mobile, Connected TV and Digital Outdoor to
              get people to search your brand online</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-audit"></span>
          </div>
          <div class="services-caption">
            <h4>Audience Profiles</h4>
            <p>Use Audience Profiles to understand your customers, engage, and find more of them.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist-1"></span>
          </div>
          <div class="services-caption">
            <h4>Advertising Intelligence</h4>
            <p>Insights on your brand, competition, audience and media performance using research and in-depth strategic
              analysis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Advertising services Area End-->

<!-- Marketing services Area Start-->
<div id="marketing" class="services-area section-padding2">
  <div class="container">
    <!-- section tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h2>Marketing Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist"></span>
          </div>
          <div class="services-caption">
            <h4>Marketing Strategy</h4>
            <p>Bespoke profiles of your audience created by overlaying rich behavioural data from our Data Management
              Platform.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center">
          <div class="services-icon">
            <span class="flaticon-audit"></span>
          </div>
          <div class="services-caption">
            <h4>Digital Marketing </h4>
            <p>Social media marketing across all channels (Facebook, Instagram, twitter, Snapchat, & Pinterest). Search
              engine marketing (Google & Bing)</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <div class="single-services text-center mb-30">
          <div class="services-icon">
            <span class="flaticon-checklist-1"></span>
          </div>
          <div class="services-caption">
            <h4>Branding</h4>
            <p>Understand how ad format, creative execution, advertising channel, view frequency and device.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Marketing services Area End-->

