.navbar-light .navbar-nav .nav-link {
  color: #F7921C;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #6D2671;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #F7921C;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
