<article class="blog_item">
  <div class="blog_item_img">
    <img class="card-img rounded-0" src="{{imgPath}}" alt="{{projectName}}">
    <a href="{{projectURL}}" target="_blank" class="blog_item_date">
      <h3>{{category}}</h3>
    </a>
  </div>

  <div class="blog_details">
    <a class="d-inline-block" href="{{projectURL}}" target="_blank">
      <h2>{{projectName}}</h2>
    </a>
    <p>{{details}}</p>
    <ul class="blog-info-link">
      <li><a href="{{projectURL}}" target="_blank"><i class="fa fa-user"></i> {{ownerName}}</a></li>
    </ul>
  </div>
</article>
