<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="slider-active">
    <div class="single-slider slider-height d-flex align-items-center"
         data-background="assets/Tools/img/hero/h1_hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="hero__caption">
              <p data-animation="fadeInLeft" data-delay=".4s">Welcome to EMD<span style="color: #6D2671">4</span>IT</p>
              <h1 data-animation="fadeInLeft" data-delay=".6s">We help you to grow your business</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider slider-height d-flex align-items-center"
         data-background="assets/Tools/img/hero/h1_hero.jpg">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="hero__caption">
              <p data-animation="fadeInLeft" data-delay=".4s">Optimise Your Own Business</p>
              <h1 data-animation="fadeInLeft" data-delay=".6s">Customize Your Own System</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-clouds></app-clouds>
<!-- slider Area End-->
<app-breaking-news></app-breaking-news>
<!-- Team-profile Start -->
<div class="team-profile team-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-card
          [paragraph]="'The difference between something good and something great is attention to detail.'"
          [title]="'Business Planning'" [imgPath]="'assets/Tools/img/team/team_1.jpg'" [route]="'services'"
          [fragment]="'software-development'"></app-profile-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-card
          [paragraph]="' Custom made systems designed and tailored to fully match and cover your business needs and processes, completely scalable, extendable and updatable with no limit. '"
          [title]="'Custom Systems'" [imgPath]="'assets/Tools/img/team/team_2.jpg'"
          [route]="'services'" [fragment]="'software-development'"></app-profile-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-back-last-card [route]="'projects'" [title]="'What we do for you'"
                                    [paragraph]="'Nearly every organization will need to become a tech company in order to compete tomorrow. Yes, even yours. At Simform, we are on a mission to help companies develop competitiveness and agility using the software.'"
                                    [btnName]="'View Profile'"></app-profile-back-last-card>
      </div>
    </div>
  </div>
</div>
<!-- Team-profile End-->

<!-- We Trusted Start-->
<div class="we-trusted-area trusted-padding">
  <div class="container">
    <div class="row d-flex align-items-end">
      <div class="col-xl-7 col-lg-7">
        <div class="trusted-img">
          <img src="assets/Tools/img/team/wetrusted.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-5 col-lg-5">
        <div class="trusted-caption">
          <h2>Leading companies trust us to develop software</h2>
          <p>We add development capacity to tech teams. Our value isn’t limited to building teams but is equally
            distributed across the project lifecycle. We are a custom software development company that guarantees the
            successful delivery of your project.</p>
          <a routerLink="/projects" class="btn trusted-btn">Have A Look</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- We Trusted End-->

<!-- services Area Start-->
<div class="services-area section-padding2">
  <div class="container">
    <!-- section tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h2>Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-service-card [title]="'Software'"
                          [paragraph]="'Solve your unique business challenges by building custom software applications.'"
                          [iconClass]="'flaticon-checklist'"></app-service-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-service-card [title]="'Marketing'"
                          [paragraph]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.'"
                          [iconClass]="'flaticon-audit'"></app-service-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-service-card [title]="'Advertising'"
                          [paragraph]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.'"
                          [iconClass]="'flaticon-checklist-1'"></app-service-card>
      </div>
    </div>
    <!-- button -->
    <div class="row justify-content-center">
      <div class="room-btn pt-50">
        <a routerLink="services" class="border-btn">More Services</a>
      </div>
    </div>
  </div>
</div>
<!-- services Area End-->

<!-- Completed Cases Start -->
<div class="completed-cases section-padding3">
  <div class="container-fluid">
    <div class="row">
      <!-- slider Heading -->
      <div class="col-xl-4 col-lg-4 col-md-8">
        <div class="single-cases-info mb-30">
          <h3>Completed Cases</h3>
          <p>Every app we design and develop is throughly researched and tested over and over again to ensure that our
            clients and their clients have a wonderful experience.
            <br>
            Going through vigorous testing with focus groups based on the demo-graphics expected to be using it.</p>
          <a routerLink="/projects" class="border-btn border-btn2">See more</a>
        </div>
      </div>
      <!-- OwL -->
      <div class="col-xl-8 col-lg-8 col-md-col-md-7">
        <div class=" completed-active owl-carousel">
          <div class="single-cases-img">
            <img src="assets/Tools/img/service/completed_case_1.png" alt="marketing">
            <!-- img hover caption -->
            <div class="single-cases-cap">
              <h4><a routerLink="/services" fragment="marketing">Marketing Strategy</a></h4>
              <p>Refers to a business's overall game plan for reaching prospective consumers and turning them into
                customers of the products or services the business provides.</p>
              <span>Mission</span>
            </div>
          </div>


          <div class="single-cases-img">
            <img src="assets/Tools/img/service/completed_case_2.png" alt="advertising">
            <!-- img hover caption -->
            <div class="single-cases-cap">
              <h4><a routerLink="/services" fragment="advertising">Advertising</a></h4>
              <p>To strive for leadership by providing services that exceed expectations</p>
              <span>Mission</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Completed Cases end -->

<!-- Testimonial Start -->
<div class="testimonial-area fix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-9 col-md-9">
        <div class="h1-testimonial-active">
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="assets/Tools/img/testmonial/Homepage_testi.png" class="ani-btn " alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>You can’t succeed if you just do what others do and
                follow the well-worn path. You need to create a new and
                original path for yourself. </p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span>Clifford Frazier<span> - Colorlib Themes</span> </span>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="assets/Tools/img/testmonial/Homepage_testi.png" class="ani-btn" alt="">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>You can’t succeed if you just do what others do and
                follow the well-worn path. You need to create a new and
                original path for yourself. </p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span>Clifford Frazier<span> - Colorlib Themes</span> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

<!-- Recent Area Start -->
<div class="recent-area section-paddingt">
  <div class="container">
    <!-- section tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <h2>Our Recent News</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-project-card [route]="'projects'" [fragment]="'covid19'" [tittle]="'COVID-19 Tracker'"
                          date="'Nov 30, 2020'"
                          [category]="'Software Development'"
                          [imgName]="'assets/Tools/img/projects/COVID-19 Tracker.png'"></app-project-card>

      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-project-card [route]="'projects'" [fragment]="'UpStricke'" [tittle]="'UpStricke'"
                          date="'Nov 30, 2020'"
                          [category]="'Software Development'"
                          [imgName]="'assets/Tools/img/projects/UpStricke Official Website.png'"></app-project-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-project-card [route]="'projects'" [fragment]="'safari'" [tittle]="'Desert Safari Egypt'"
                          date="'Nov 30, 2020'"
                          [category]="'Software Development'"
                          [imgName]="'assets/Tools/img/projects/Desert Safari Egypt .png'"></app-project-card>
      </div>
    </div>
  </div>
</div>
<!-- Recent Area End-->

<!-- Request Back Start -->
<div class="request-back-area section-padding30">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-xl-4 col-lg-5 col-md-5">
        <div class="request-content">
          <h3>Request for Call Back</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore,</p>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-7">
        <!-- Contact form Start -->
        <div class="form-wrapper">
          <form id="contact-form" action="#" method="POST">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-box  mb-30">
                  <input type="text" name="name" placeholder="Name">
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-box mb-30">
                  <input type="text" name="email" placeholder="Phone">
                </div>
              </div>
              <div class="col-lg-8 col-md-8 mb-30">
                <div class="select-itms">
                  <select name="select" id="select1">
                    <option value="">Services</option>
                    <option value="">Services-1</option>
                    <option value="">Services-2</option>
                    <option value="">Services-3</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <button type="submit" class="send-btn">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>     <!-- Contact form End -->
    </div>
  </div>
</div>
<!-- Request Back End -->


