<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       data-background="assets/Tools/img/hero/contact_hero.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>About <span style="color: #F7921C">EMD<span style="color: #6D2671">4</span>IT</span></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!-- We Trusted Start-->
<div class="we-trusted-area trusted-padding">
  <div class="container">
    <div class="row d-flex align-items-end">
      <div class="col-xl-7 col-lg-7">
        <div class="trusted-img">
          <img src="assets/Tools/img/team/wetrusted.jpg" alt="">
        </div>
      </div>
      <div class="col-xl-5 col-lg-5">
        <div class="trusted-caption">
          <h2>Welcome To <span style="color: #F7921C">EMD<span style="color: #6D2671">4</span>IT</span></h2>
          <p>EMD4IT is a fast growing software house in the heart of the Middle East, Egypt. We develop business through
            automation using web technologies and software applications so that organizations achieve complete digital
            transformation, increase service quality, improve service delivery and ultimately contain costs. We are
            specialized in custom ERP systems, custom business automation, & business software automation.</p>
          <a routerLink="/projects" class="btn trusted-btn">Have A Look</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- We Trusted End-->

<!-- Team-profile Start -->
<div class="team-profile team-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-card [imgPath]="'assets/Tools/img/team/team_1.jpg'" [route]="'services'"
                          [fragment]="'software-development'"
                          [paragraph]="'We have over a decade of experiencing designing, delivering, and supporting world-class Web & mobile applications using our award-winning Agile engineering principles, enabling us to ship over 50 apps each year to the Apple and Google stores.'"
                          [title]="'Development'"></app-profile-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-card [imgPath]="'assets/Tools/img/team/team_2.jpg'" [route]="'services'" [fragment]="'advertising'"
                          [paragraph]="'Social media marketing across all channels (Facebook, Instagram, twitter, Snapchat, & Pinterest). Search engine marketing (Google & Bing)'"
                          [title]="'Advertising & Marketing'"></app-profile-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-profile-back-last-card [title]="'What we do for you'"
                                    [paragraph]="'EMD4IT Systems doesn’t only stop at developing concrete business solutions; it also offers each client the luxury of getting uniquely attractive designed software solutions to help the client interpret who they really are among their peers.'"
                                    [route]="'projects'" [btnName]="'Have A Look'"></app-profile-back-last-card>
      </div>
    </div>
  </div>
</div>
<!-- Team-profile End-->

<!-- Testimonial Start -->
<div class="testimonial-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-9 col-md-9">
        <div class="h1-testimonial-active">
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="assets/Tools/img/team/HossamElBeshoty.jpeg" width="150" height="150" class="ani-btn"
                   alt="Hossam">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>Dealing with the latest global systems and fully developed programming languages</p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span>Hossam El Beshoty<span> - General Manger</span> </span>
              </div>
            </div>
          </div>
          <!-- Single Testimonial -->
          <div class="single-testimonial pt-65">
            <!-- Testimonial tittle -->
            <div class="testimonial-icon mb-45">
              <img src="assets/Tools/img/team/Eman Salah4.jpeg" width="150" height="150" class="ani-btn" alt="Eman">
            </div>
            <!-- Testimonial Content -->
            <div class="testimonial-caption text-center">
              <p>The use of social media in advertising and electronic marketing.</p>
              <!-- Rattion -->
              <div class="testimonial-ratting">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="rattiong-caption">
                <span>Eman Salah<span> - CEO</span> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->

