<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
       data-background="assets/Tools/img/hero/gallery_hero.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2><span style="color: #F7921C">EMD<span style="color: #6D2671">4</span>IT</span> Team</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!-- Completed Cases Start -->
<div class="completed-cases section-padding3">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-team-card [route]="''" [imgPath]="'assets/Tools/img/team/HossamElBeshoty.jpeg'"
                       [name]="'Hossam El Beshoty'"
                       [position]="'General Manger - Full Stack Developer'"></app-team-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-team-card [route]="''" [imgPath]="'assets/Tools/img/team/Eman Salah2.jpeg'"
                       [name]="'Eman Salah'"
                       [position]="'CEO - Marketer'"></app-team-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-team-card [route]="''" [imgPath]="'assets/Tools/img/team/AyaOssama2.jpeg'"
                       [name]="'Aya Osama'"
                       [position]="'HR Specialist'"></app-team-card>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6">
        <app-team-card [route]="''" [imgPath]="'assets/Tools/img/team/Amr Mossad.jpeg'"
                       [name]="'Amr Mossad'"
                       [position]="'Front-End Web & Mobile Developer'"></app-team-card>
      </div>
    </div>
  </div>
</div>
<!-- Completed Cases end -->
